* {
    min-height: 0;
    
    border: none;
    border-radius: 0;

    box-shadow: none;
    text-shadow: none;
    
    font-size: 14px;
    font-family: JetBrains Mono Medium;
}

window {
    color: #babdb6;
    background: #2e3436;
}

#workspaces button {
    color: #babdb6;
    background: #2e3436;
    padding: 5px 15px;
}

#workspaces button.focused {
    color: #babdb6;
    background: #4b4e4f;
}

#workspaces button.urgent {
    color: #fce94f;
}

#mode {
    color: #fce94f;
}

#pulseaudio.muted {
    opacity: 0.5;
}

#pulseaudio, #custom-notmuch {
    margin-right: 10px;
}

#custom-notmuch {
    color: #fce94f;
}
