! -*- mode: conf-xdefaults -*-

#include    "config/xresources/00-variables.conf"
#include    "config/xresources/01-colors.conf"
#include    "config/xresources/02-freetype.conf"
#include    "config/xresources/03-urxvt.conf"
#include    "config/xresources/05-rofi.conf"
