! -*- mode: conf-xdefaults -*-

!-----------------------------------------------------------------------
!                         xft settings
!-----------------------------------------------------------------------

Xft.dpi:		96
Xft.autohint:		0
Xft.antialias:		true
Xft.rgba:		rgb
Xft.hinting:		true
Xft.lcdfilter:		lcddefault
Xft.hintstyle:		hintsfull

!-----------------------------------------------------------------------
!                         colors scheme
!-----------------------------------------------------------------------

! special
*.foreground:		#C0C5CE
*.background:   	#1B2B34

! black
*.color0:		#1B2B34
*.color8:      		#6C6C6C

! red
*.color1:		#CF727B
*.color9:       	#CF727B

! green
*.color2:		#87AF5F
*.color10:      	#87AF5F

! yellow
*.color3:		#EBCB8B
*.color11:      	#EBCB8B

! blue
*.color4:		#6699CC
*.color12:      	#6699CC

! magenta
*.color5:		#CC99CC
*.color13:      	#CC99CC

! cyan
*.color6:		#5FAFAF
*.color14:      	#5F8787

! white
*.color7:		#BAC6C0
*.color15:      	#C0C5CE

