! -*- mode: conf-xdefaults -*-

!-----------------------------------------------------------------------
!                         xft settings
!-----------------------------------------------------------------------

Xft.dpi:		96
Xft.autohint:		0
Xft.antialias:		true
Xft.rgba:		rgb
Xft.hinting:		true
Xft.lcdfilter:		lcddefault
Xft.hintstyle:		hintsfull

!-----------------------------------------------------------------------
!                         colors scheme
!-----------------------------------------------------------------------

! special
*.foreground:		#C0C5CE
*.background:   	#1B2B34

! black
*.color0:		#1B2B34
*.color8:      		#5E6563

! red
*.color1:		#FF7961
*.color9:       	#FF7961

! green
*.color2:		#99BB66
*.color10:      	#99BB66

! yellow
*.color3:		#D5A64B
*.color11:      	#D5A64B

! blue
*.color4:		#4A91D0
*.color12:      	#4A91D0

! magenta
*.color5:		#9F8EC3
*.color13:      	#9F8EC3

! cyan
*.color6:		#5A9692
*.color14:      	#5A9692

! white
*.color7:		#BAC6C0
*.color15:      	#BAC6C0

