[Unit]
Description=mbsync service (oneshot)
Documentation=man:mbsync(1)

[Service]
Type=oneshot
TimeoutStopSec=60

ExecStart=/usr/bin/mbsync --all --quiet --config %h/config/mbsync/config
ExecStartPre=mkdir -p %h/mailbox/cognitive
ExecStartPre=mkdir -p %h/mailbox/gmail
ExecStartPost=/usr/bin/notmuch new

Environment="PASSWORD_STORE_DIR=%h/passwords"
Environment="GNUPGHOME=%h/config/gnupg"
Environment="NOTMUCH_CONFIG=%h/config/notmuch/config"

[Install]
WantedBy=default.target